<!DOCTYPE html>
<!--라이브러리 참조 : Thymeleaf & Thymeleaf Layout -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--공통 JS / CSS 영역을 관리하는 환경 영역-->
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<header th:replace="~{fragments/header :: header}"></header>
<th:block layout:fragment="content"></th:block>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>