<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      layout:fragment="content"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container{
            max-width: 1000px;
            text-align: center;
            margin: auto;
        }
    </style>
</head>
<body>
<div class="container">
    <div>
        <h1>비밀번호 변경</h1>
    </div>

    <form th:action th:object="${form}" method="post"
          onsubmit="return confirm('비밀번호를 변경 하시겠습니까?');">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}"
               th:text = "${err}">글로벌 오류 메시지</p>
        </div>
        <div>
            <label>현재 비밀번호</label>
            <input type="password" id="currentPassword" th:field="*{currentPassword}"
                   th:errorclass="field-error" >
            <div th:errors="*{currentPassword}"/>
        </div>
        <div>
            <label>새로운 비밀번호</label>
            <input type="password" id="editPassword" th:field="*{editPassword}" class="form-control"
                   th:errorclass="field-error" >
            <div class="field-error" th:errors="*{editPassword}"/>
        </div>
        <div>
            <label for="editPasswordCheck">새로운 비밀번호 확인</label>
            <input type="password" id="editPasswordCheck" th:field="*{editPasswordCheck}" class="form-control"
                   th:errorclass="field-error" >
            <div class="field-error" th:errors="*{editPasswordCheck}"/>
        </div>

        <hr/>

        <div>
            <div>
                <button type="submit">
                    비밀번호 변경
                </button>
            </div>
            <div>
                <button th:onclick="|location.href='@{/info}'|"
                        type="button">돌아가기</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>