<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      layout:fragment="content"
>
<head>
    <meta charset="utf-8">
    <title></title>
    <style>
        .container{
            max-width: 1000px;
            text-align: center;
            margin: auto;
        }
    </style>
</head>
<body>
<div class="container">
    <!-- 제목 -->
    <div>
        <h2>게시글 상세</h2>
    </div>

    <!-- 목록으로 -->
    <div class="col text-end">
        <button th:if="${access}"
                th:onclick="|location.href='@{/post/{postId}/edit(postId=${post.id})}'|"
                type="button">수정</button>
        <button th:if="${access}"
                th:onclick="|location.href='@{/post/{postId}/delete(postId=${post.id})}'|"
                type="button">삭제</button>
    </div>

    <hr>
    <!-- 게시글 정보 한줄 -->
    <div>
        <span th:text="${post.writer}"> | 작성자 : writer</span>&nbsp;
        <span th:text="${#temporals.format(post.modifiedDate, 'yyyy-MM-dd HH:mm')}"> | 최종 수정일 : 2024-01-11</span>&nbsp;
        <span th:text="${post.views}"> | 조회수 : 0</span>
    </div>

    <hr>

    <!-- 글 내용 -->
    <div>
        <h3 th:text="${post.title}">작성글 제목</h3>
        <hr>
        <p th:text="${post.content}">작성글 내용이 이곳에 표시됩니다.</p>
    </div>
</div><!-- /container -->
<br>
<!-- 댓글 컨테이너 -->
<div>
    <!-- 댓글 작성 폼 -->
    <form th:accept th:object="${commentForm}" method="post">
        <div>
            <textarea type="text" id="text"
                      th:field="*{comment}"
                      placeholder="댓글 작성" >
            </textarea>
            <button type="submit">작성</button>
        </div>
    </form>

    <!-- 댓글 리스트 -->
    <div th:each="comment : ${comments}">
        <p th:text="|${comment.nick}   (${#temporals.format(comment.modifiedDate, 'yyyy-MM-dd HH:mm')})|">작성자</p>
        <p th:text="${comment.comment}">댓글 내용이 이곳에 표시됩니다.</p>
    </div>
    <hr>
</div>

</body>
</html>