<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Board Project</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <style>
        a{
            text-decoration-line: none;
            color: black;
        }
    </style>
</head>
<body>
<div>
    <!-- 로그인, 회원 정보 관련  -->
    <div class="py-1 row">
        <!-- 로그인 시  -->
        <div th:if="${show}" style="display: flex; text-align: end">
            <a th:text="${member.nick + ' 님 반갑습니다.'}">(회원아이디)</a>
            <span>님 반갑습니다.</span>
            <button>회원 프로필</button>

            <form th:action="@{/logout}" method="post"
                  onsubmit="return confirm('로그아웃 하시겠습니까?');">
                <button type="submit">
                    로그아웃
                </button>
            </form>
        </div><!-- /로그인, 회원 정보 관련  -->

        <!-- 로그아웃 상태  -->
        <div th:unless="${show}">
            <button onclick="location.href='joinForm.html'"
                    th:onclick="|location.href='@{/join}'|"
                    type="button">
                회원가입
            </button>
            <button onclick="location.href='loginForm.html'"
                    th:onclick="|location.href='@{/login}'|"
                    type="button">
                로그인
            </button>
        </div>
    </div><!-- /로그아웃 상태  -->
    <hr>

    <!-- 검색 -->
    <div>
        <div>
            <form>
                <select>
                    <option>Option</option>
                </select>

                <input type="text" placeholder="작성자 입력">
                <button type="submit">검색</button>
                <span>
                    <span>글로벌 오류 메시지</span>
                </span>
            </form>
        </div>

        <!--글쓰기 버튼 -->
        <div>
            <button onclick="location.href='writeForm.html'"
                    th:onclick="|location.href='@{/write}'|"
                    type="button">글쓰기</button>
        </div>
    </div>
    <hr>

    <!-- 게시글 목록 table -->
    <div>
        <table>
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>등록일</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}">1234</td>
                <td>
                    <a>
                        <th:block th:text="${#strings.length(post.title) &gt; 30 ? #strings.substring(post.title, 0, 30) + '...' : post.title}">
                            title-example
                        </th:block>
                    </a>
                </td>
                <td th:text="${post.nick}">nick</td>
                <td th:text="${post.createDate.plusDays(1) &lt; #temporals.createNow() ? #temporals.format(post.createDate, 'yyyy-MM-dd') : #temporals.format(post.createDate, 'HH:mm')}">
                    &lt;!&ndash; create_date가 현재시간으로부터 하루 이전이면 날짜를, 하루 이내면 시간을 표시 &ndash;&gt;
                </td>

                <td th:text="${post.views}">23</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>